{% extends 'main/base.html' %}
{% block title %}
главная
{% endblock %}

{% block content %}
<div class="film1">
    <img src="https://avatars.mds.yandex.net/get-entity_search/5528860/906334839/S168x252_2x">
    <h1>название фильма</h1>
    <p>Мозг Райли внезапно подвергается капитальному ремонту в тот момент, когда необходимо освободить место для кое-чего совершенно неожиданного: новых эмоций. Радость, Грусть, Гнев, Страх и Отвращение никак не ожидали появления некой Тревожности. И похоже, не только её.</p>
</div>

<div class="film2">
    <img src="https://avatars.mds.yandex.net/get-entity_search/7751256/687352683/S168x252_2x">
    <h1>название фильма</h1>
    <p>В голове у обычной 11-летней школьницы Райли живут пять базовых эмоций: Радость, Грусть, Страх, Гнев и Отвращение. Каждый день они помогают девочке справляться с проблемами, руководя всеми её поступками. Вдруг выясняется, что Райли с родителями предстоит переезд из небольшого уютного городка в шумный и людный мегаполис. Каждая из эмоций считает, что именно она лучше прочих знает, что нужно делать в этой непростой ситуации, и в голове у девочки наступает полный хаос.</p>
</div>


{% endblock %}